<link
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
>

<link
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
>

<div class="container py-4">

    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-8">

            <div class="card shadow-sm">
                <div class="card-body">

                    <h3 class="mb-4">
                        {% if form.instance.pk %}
                            Update Contact
                        {% else %}
                            Create Contact
                        {% endif %}
                    </h3>

                    <form method="POST" novalidate>
                        {% csrf_token %}


                        {% for field in form %}
                            <div class="row mb-3 align-items-center">
                                <div class="col-4 text-end">
                                    <label class="form-label mb-0">
                                        <!-- Overwriting field names -->
                                        {% if field.name == "name" %}
                                            Name
                                        {% elif field.name == "lastName" %}
                                            Last Name
                                        {% elif field.name == "email" %}
                                            Email Address
                                        {% elif field.name == "phone" %}
                                            Phone Number
                                        {% else %}
                                            {{ field.label }}
                                        {% endif %}

                                    </label>
                                </div>
                                <!-- Input Field -->
                                <div class="col-8">
                                    {{ field }}
                                </div>
                            </div>
                        {% endfor %}


                        <button type="submit" class="btn btn-primary mt-3 w-100">
                            {% if form.instance.pk %}
                                Update
                            {% else %}
                                Create
                            {% endif %}
                        </button>

                        <a href="{% url 'contactList' %}" class="btn btn-outline-secondary w-100 mt-2">
                            <- Back to contacts
                        </a>
                    </form>

                </div>
            </div>

        </div>
    </div>

</div>


